<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/vendor/css/bootstrap.css">
        <style>
            body {padding-top: 60px}
        </style>
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-brand">
                ATS Blog
            </div>
        </nav>
        {{{body}}}
        <script src="/vendor/js/jquery.js"></script>
        <script src="/vendor/js/bootstrap.js"></script>
    </body>
</html>